*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--font-size-min: 12px;
	--font-size-max: 28px;
	--font-size-viewport-base: calc(1svi + 1svb + 0.5vmin + 0.5em);
	--font-size-root: clamp(var(--font-size-min), var(--font-size-viewport-base), var(--font-size-max));


	--clr-flexoki-black: #100F0F;
	--clr-flexoki-paper: #FFFCF0;

	--clr-flexoki-base-950: #1C1B1A;
	--clr-flexoki-base-900: #282726;
	--clr-flexoki-base-850: #343331;
	--clr-flexoki-base-800: #403E3C;
	--clr-flexoki-base-700: #575653;
	--clr-flexoki-base-600: #6F6E69;
	--clr-flexoki-base-500: #878580;
	--clr-flexoki-base-300: #B7B5AC;
	--clr-flexoki-base-200: #CECDC3;
	--clr-flexoki-base-150: #DAD8CE;
	--clr-flexoki-base-100: #E6E4D9;
	--clr-flexoki-base-50: #F2F0E5;

	--clr-flexoki-red-600: #AF3029;
	--clr-flexoki-red-400: #D14D41;

	--clr-flexoki-orange-600: #BC5215;
	--clr-flexoki-orange-400: #DA702C;

	--clr-flexoki-yellow-900: #4D3A0B;
	--clr-flexoki-yellow-600: #AD8301;
	--clr-flexoki-yellow-400: #D0A215;
	--clr-flexoki-yellow-100: #FCEEB8;

	--clr-flexoki-green-600: #66800B;
	--clr-flexoki-green-400: #879A39;

	--clr-flexoki-cyan-600: #24837B;
	--clr-flexoki-cyan-400: #3AA99F;

	--clr-flexoki-blue-600: #205EA6;
	--clr-flexoki-blue-400: #4385BE;

	--clr-flexoki-purple-600: #5E409D;
	--clr-flexoki-purple-400: #8B7EC8;

	--clr-flexoki-magenta-600: #A02F6F;
	--clr-flexoki-magenta-400: #CE5D97;


	--clr-flexoki-bg: light-dark(var(--clr-flexoki-paper), var(--clr-flexoki-black));
	--clr-flexoki-tx: light-dark(var(--clr-flexoki-base-950), var(--clr-flexoki-base-200));
	--clr-flexoki-tx2: light-dark(var(--clr-flexoki-base-600), var(--clr-flexoki-base-500));
	--clr-flexoki-cy: light-dark(var(--clr-flexoki-cyan-600), var(--clr-flexoki-cyan-400));


	box-sizing: border-box;
	font-size: var(--font-size-root);
	font-family: system-ui, sans-serif;
	font-synthesis: none;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	color-scheme: dark light;
}

body {
	display: grid;
	grid-template-columns: minmax(1fr, 256px) auto;
	gap: 1em;
	place-content: center;
	min-block-size: 100svb;
	margin: 0;
	padding-block: 1em;
	padding-inline: 1.25em;
	color: var(--clr-flexoki-tx);
	background-color: var(--clr-flexoki-bg);

	@media screen and (min-width: 60em) {
		inline-size: min(70ch, 100svi - (1.25em * 2));
		margin-inline: auto;
	}
}

a:not([class]) {
	color: var(--clr-flexoki-cy);
}

p {
	margin: 0;
}

header {
	margin: 0;
}

main {
	display: flex;
	place-items: center;
	margin: 0.5em 0 1em 0;
}

main p {
	flex-basis: 75%;
	flex-shrink: 0;
	flex-grow: 1;
	min-width: 0;
}

main img {
	flex-basis: 25%;
	flex-shrink: 1;
	flex-grow: 0;
	min-width: 0;
	object-fit: cover;
	display: inline-block;
	max-inline-size: 100%;
	grid-column: 1;
	grid-row: 1;
	vertical-align: baseline;
	font-style: italic;
	color: var(--clr-flexoki-tx2);
}

footer {
	font-size: 0.75rem;
	color: var(--clr-flexoki-tx2);
}
